* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6FBF4;
}

.imgContainer {
  /* width: 99.9vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 960px;
  height: 720px;
}

@media screen and (max-width: 959px) {
  img {
    width: 90vw;
    height: 90%;
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 80vw;
    height: 80%;
  }
}

@media screen and (max-width: 400px) {
  img {
    width: 75vw;
    height: 75%;
  }
}